<link href="img/favicon.ico" rel="icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<link href="lib/animate/animate.min.css" rel="stylesheet">
<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/aboutus.css" rel="stylesheet"/>

<div class="container">
    <div class="about">
        <div class="left">
            <h1>За нас</h1>
            <hr>
            <p>
                Добре дошли в нашия уебсайт за резервации на хотели! 
                сВярваме, че пътуването трябва да бъде изживяване, което се запомня и обогатява.
                За нас е удоволствие да създадем удобна и надеждна платформа, която да ви помогне да планирате и осъществите перфектната почивка или делова поезия. 
                С нашия уебсайт ще имате достъп до богато разнообразие от хотели във всяка дестинация, с подробни описания, снимки и реални отзиви от клиенти. 
                Нашата цел е да ви предоставим инструментите, които са ви необходими, за да направите информиран избор и да се насладите на перфектния престой.
           </p>
        </div>
        <div class="right">
            <img src="https://usitcolours.bg/web/files/hotel_images/266/image_1749.jpg">
        </div>
        <div class="clear"></div>
    </div>
    <div class="mission">
        <div class="left">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/7285499.jpg?k=9ffcc0b2c8d40609c06e4c5840b6190604ac81975c630fd3a00064e487a2ead5&o=&hp=1">
        </div>
        <div class="right">
            <h1>Нашата мисия</h1>
            <hr>
            <p>
                Нашата мисия е да ви осигурим лесен и приятен начин за откриване и резервиране на най-добрите хотели по целия свят. 
                Независимо дали търсите луксозен курорт, уютен семеен хотел или стилно бутиково настаняване, ние ще ви помогнем да намерите перфектното място за престой. 
                За нас е важно да осигурим отлично обслужване на клиентите и безопасни, сигурни резервации. 
                Нашите експерти са тук, за да ви помогнат с всякакви въпроси и запитвания, като се стремим да ви осигурим персонализирано внимание и най-доброто решение за вашите нужди. 
                Благодарим ви, че избрахте нашия уебсайт за вашата следваща хотелска резервация. Очакваме с нетърпение да ви помогнем да създадете незабравими спомени и изживявания по целия свят!
            </p>
        </div>
    </div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>